

html, body {
  height: 100%;
}

body {
	background-color: rgba(25, 25, 25, 255);
  color: #efefef;
	margin: 0;
	display: flex;
  font-family: "Sans-serif", Verdana, "Lucida Console";

	/* This centers our sketch horizontally. */
	justify-content: center;

	/* This centers our sketch vertically. */
	align-items: center;
}